PODCAST_AUDIO_DIR={{ podcast_audio_dir }}
PODCAST_LISTEN_ADDR={{ podcast_listen_addr }}
PODCAST_REFRESH_DEBOUNCE_MS={{ podcast_refresh_debounce_ms }}
PODCAST_TOKEN_FILE={{ podcast_token_file }}
{% if podcast_feed_config %}
PODCAST_FEED_CONFIG={{ podcast_feed_config }}
{% endif %}
{% if podcast_feed_title %}
PODCAST_FEED_TITLE={{ podcast_feed_title }}
{% endif %}
{% if podcast_feed_description %}
PODCAST_FEED_DESCRIPTION={{ podcast_feed_description }}
{% endif %}
{% if podcast_feed_language %}
PODCAST_FEED_LANGUAGE={{ podcast_feed_language }}
{% endif %}
{% if podcast_feed_author %}
PODCAST_FEED_AUTHOR={{ podcast_feed_author }}
{% endif %}
